name: Build

on:
  release:
    types: [published]
  push:
    branches:
    - main
  
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v4
    - name: Build
      run: ./gradlew assembleDebugMinify
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: termux-gui-debug.apk
        path: ./app/build/outputs/apk/debugMinify/app-debugMinify.apk
